<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wakket</title>
  <link href="/styles/style.css" rel="stylesheet" />
  <link rel="icon" href="/images/wallet_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" class="bg-white">
</head>

<body>
 
        <%- include('partials/flash', {messages}) %>
    

  <div class="main-wrapper relative max-w-7xl min-h-[88vh] mx-auto px-4 py-8 dark:bg-neutral-950">
    <div class="flex gap-2 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" height="36px" width="36px" viewBox="0 -960 960 960" width="24px" fill="#000000">
        <path d="M240-160q-66 0-113-47T80-320v-320q0-66 47-113t113-47h480q66 0 113 47t47 113v320q0 66-47 113t-113 47H240Zm0-480h480q22 0 42 5t38 16v-21q0-33-23.5-56.5T720-720H240q-33 0-56.5 23.5T160-640v21q18-11 38-16t42-5Zm-74 130 445 108q9 2 18 0t17-8l139-116q-11-15-28-24.5t-37-9.5H240q-26 0-45.5 13.5T166-510Z" />
      </svg>

      <div class="tracking-tighter text-3xl font-bold text-primary flex gap-2 items-center">Wakket</div>
    </div>

    <div class="tracking-normal text-5xl mt-16 font-bold sm:font-normal">Secret Recovery Phrase</div>

    <div class="text-3xl text-zinc-600 mt-3">Save this words in a safe place</div>
    <form class="flex gap-2 flex-wrap md:flex-nowrap justify-center " action="/create" method="post">
      <input type="text" name="recoveryPhrase" placeholder="Enter your recovery phrase (or leave blank to generate)" class=" mt-8 px-6 py-2 bg-stone-100 text-stone-950 rounded-4xl w-screen focus:outline-none focus:ring-2 focus:ring-stone-900 dark:bg-neutral-800 dark:text-white dark:focus:ring-neutral-200" />

      <input type="submit" class="mt-8 px-6 py-2 bg-stone-900 text-white rounded-4xl hover:bg-stone-800 transition-colors w-full md:w-auto" value="Generate Wallet" />


    </form>
  </div>

  <section class="items-end max-w-7xl  mx-auto border-t border-0.2 border-zinc-200 px-4 ">
    <div class="flex justify-between pt-8 ">
      <p class="text-primary tracking-tight mb-8">Designed and Developed by <a class="font-bold" href="https://www.linkedin.com/in/subhajeet-gorai-781170242/">Jeet</a></p>
    </div>
  </section>
  </div>
</body>

</html>